@()(implicit coreSubmodules: ua.net.resources.model.CoreSubmodules, lang: Lang)

<c:if test="${users_list_page ne null}">
    <div style="margin-top:15px;margin-left: 5px;">@parts.loginForm()</div>
</c:if>

@if(!coreSubmodules.regions.isEmpty) {
    <div style="margin-top:15px;"><img alt="Регионы" src="@routes.Assets.at("images/left3/regions_msg.jpg")"></div>
    <div style="margin-top:5px;margin-left:25px;">@parts.regions(coreSubmodules.region, coreSubmodules.regions, coreSubmodules.page)</div>
}

@for(page <- coreSubmodules.usefulLinks) {
    <div style="margin-top:15px;"><a href="index.html?id_pages=@page.id"><img src='@routes.Assets.at("images/left3/links_msg.jpg")' alt="@page.name" title="@page.name"></a></div>
}

<c:forEach items="${SAPE_ATTRIBUTE}" var="link">
    <div style="margin-top:10px;margin-left:25px;">${link}</div>
</c:forEach>


<div style="margin-top:15px;"><img src="@routes.Assets.at("images/left3/lider_msg.jpg")" alt="Лидер рейтинга" title="Лидер рейтинга"></div>
<div style="margin-top:10px;margin-left:25px;">
    <img src="@routes.Assets.at("images/left3/mark.jpg")"><a class="form_partners" href="index.html?id_sites=@coreSubmodules.siteLeader.id&amp;id_pages=@coreSubmodules.siteLeader.id_pages&id_regions=@coreSubmodules.siteLeader.id_regions">@coreSubmodules.siteLeader.title</a>
</div>

<div align="center" style="margin-top:15px;"><a href="/" class="self_url" title="@coreSubmodules.siteConfig.title">@coreSubmodules.siteConfig.title</a></div>
