@(regions: Seq[ua.net.resources.domain.Region])

<c:if test="${cur_region ne null}">
    <div style="margin-top:3px;"><img alt="*" src='@routes.Assets.at("images/left3/mark.jpg")'>
        <a class="region_selected" href="index.html?id_regions=${cur_region.id}&id_pages=${page.id}">${cur_region.name}</a></div>
</c:if>
@for(region <- regions) {
    <div style="margin-top:3px;"><img alt="*" src='@routes.Assets.at("images/left3/mark.jpg")'>
        <a class="region_not_selected" href="index.html?id_regions=@region.id&id_pages=${page.id}">@region.name</a></div>
}