@(curReg: Option[ua.net.resources.domain.Region], regions: Seq[ua.net.resources.domain.Region],
page: ua.net.resources.domain.Pages)

@for(region <- curReg) {
    <div style="margin-top:3px;"><img alt="*" src='@routes.Assets.at("images/left3/mark.jpg")'>
    <a class="region_selected" href="index.html?id_regions=@region.id&id_pages=@page.id">@region.name</a></div>
}

@for(region <- regions) {
    <div style="margin-top:3px;"><img alt="*" src='@routes.Assets.at("images/left3/mark.jpg")'>
    <a class="region_not_selected" href="index.html?id_regions=@region.id&id_pages=@page.id">@region.name</a>
    </div>
}